button:hover {
  background: #783F37; /* Nova cor de fundo quando o cursor passa por cima */
}


/* Responsividade (Telas menores que 768px) */

@media screen and (max-width: 768px) {

  /* Galeria de fotos (Mosaico) */

  .container {
    padding-top: 30px;
    padding-bottom: 80px;
  }

  .images {
    column-count: 1; /* Exibe apenas 1 coluna de fotos */
    column-gap: 0.5rem; /* Define o espaçamento entre as colunas como 1 unidade rem */
  }

  .receitas {
    padding-top: 0px;
  }

  .button {
    padding-bottom: 0px;
  }

}

